*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
}

body{
    width: 100%;
    background-color: #1F1D2C;
}

header{
    position: relative;
}

/*background gray square*/

.first-square{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -50;
    background-size: 100%;
}

.second-square{
    display: none;
}

@media screen and (min-width:580px) {
    .first-square{
        display: none;
    }

    .second-square{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -50;
    }
}

/*nav*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5 rem 1.5rem;
    height: 60px;
    font-size: 18px;
    z-index: 40;
}

.home{
    color: black;
}

input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul{
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px );
    top: 60px;
    display:none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
}


input#menu-hamburguesa:checked ~ ul{
    display: flex;
    background-color: #1F1D2C;
    z-index: 70;
    max-height: 100%;
}


@media screen and (min-width:600px) {
    label{
        display: none;
    }

    input#menu-hamburguesa ~ ul{
        position: static;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }
}

/*textos header*/

header>h1{
    display: inline-block;
    font-size: 60px;
    margin: 1rem;
    position: absolute;
    top: 50px
}

.texto-header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1rem 0 1rem 1rem;
    width: 70vw;
    position: absolute;
    top: 150px;
    font-size: 18px;
    
}


/*redes y foto*/

.img-header{
    display: inline-block;
    height: 300px;
}

.redes{
    display: flex;
    flex-direction: row;
    width: 40%;
    position: absolute;
    margin: 0 1rem;
    top: 270px;
    max-width: 300px;
}

.logo-redes{
    width: 35px;
    max-width: 100px;
    justify-content: space-between;
    margin: 5px;
}

.social-media{
   width: 100%;
   margin: 0;
}

.foto-perfil{
    display: flex;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: -40;
}


@media screen and (min-width:600px){
    header>h1{
        font-size: 80px;
    }

    .texto-header{
        font-size: 25px;
    }
    
    .redes{
        top: 300px;
    }

    .logo-redes{
        width: 50px;
    }
}


